/* ==========
global
========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

p {
  line-height: 1.6;
}

button {
  cursor: pointer;
}

/* ==========
typography
========== */

* {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.nav-open {
  color: white;
  font-size: 2.5rem;
}

.nav-close {
  color: white;
  font-size: 4rem;
}

.section-one {
  color: white;
}

.yellow-txt {
  color: #FFE600;
}

.bold-txt {
  font-weight: 700;
}

.section-two,
.footer {
  text-align: center;
}

.footer-container {
  opacity: .5;
}

.footer-fine-print {
  font-size: .75rem;
  font-weight: bold;
  opacity: .5;
}

.footer-social-links {
  font-size: 1.75rem;
  color: black;
}

.footer-social-links:hover,
.footer-social-links:focus {
  opacity: .7;
}

/* ==========
buttons
========== */

.sec-one-btn {
  color: black;
  font-weight: 700;
  background-color: #FFE600;
  width: fit-content;
  padding: .75rem 2rem;
  transition: background-color .1s;
}

.sec-one-btn:hover,
.sec-one-btn:focus {
  background-color: #ffe600b0;
}

.form-btn {
  border: none;
  margin-block: 1.5rem 5em;
  padding-inline: 3rem; 
  margin-left: auto;
}

/* ==========
style
========== */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0px, 600px) minmax(1rem, 1fr)
}

.header-content-container,
.section-one > *,
.section-two > *,
.section-three > *,
.footer > * {
  grid-column: 2 / -2;
}

/* header */

.header {
  position: absolute;
  width: 100%;
}

.header-content-container {
  display: flex;
}

.header-img-link {
  display: flex;
  align-items: flex-end;
  background-color: #FFE600;
}

.header-img {
  padding: 0 2px 0 2px;
}

.nav-open {
  border: 0;
  background-color: transparent;
  padding-block: 10px 5px;
  margin-left: auto;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform .2s;
  background-color: black;
}

.nav-close {
  position: absolute;
  padding: .5rem;
  left: 20px;
  border: none;
  background-color: transparent;
}

.open-navigation {
  transform: translateX(-100%);
}

.nav-link {
  border-bottom: 2px solid black;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 2px solid #FFE600;
  transition: .5s;
}

.current-page {
  border-bottom: 2px solid #FFE600;
  transition: .5s;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

/* section one */

.sec-one-title,
.sec-one-body {
  width: 75%;
}

.section-one {
  background-image: url(./img/hero-bg.jpg);
  background-position: 58%;
  background-size: cover;
  padding: 11rem 0 8rem 0;
}

.sec-one-body {
  margin-block: 1.5rem;
}

/* section two */

.section-two {
  padding: 4rem 0;
}

.sec-two-title::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: #FFE600;
  display: block;
  margin: 10px auto;
}

.sec-two-container {
  margin-bottom: 3rem;
  max-width: 350px;
  margin-inline: auto;
}

.sec-two-container:last-child {
  margin-bottom: initial;
}

/* section-three */

.contact-img {
  width: 98%;
  border: 0;
  box-shadow: 5px 5px black, 10px 10px #FFE600;
  margin-bottom: 2rem;
}

.sec-three-title::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: #FFE600;
  display: block;
  margin: 10px auto 10px 0;
}

.sec-three-body {
  margin-bottom: 2rem;
}

.contact-container {
  display: grid;
}

label {
  margin-block: .5rem;
}

input {
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.485);
  outline: none;
}

textarea {
  padding: .5rem;
  resize: none;
  height: 10rem;  
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.485);
  outline: none;
}

/* footer */

.footer {
  background-color: #ebebeb;
  padding: 2rem 0;
}

.footer-container {
  margin-block: 2rem;
}

.footer-logo {
  margin-bottom: 1rem;
}

.footer-fine-print {
  margin-top: 3rem;
}

.footer-social-container {
  order: -1;
}

.social-link-container {
  display: flex;
  justify-content: center;
  gap: .75rem;
}

/* ==========
media query
========== */

@media (min-width:750px) {

  .main-grid {
    grid-template-columns: minmax(1rem, 1fr) repeat(3, minmax(200px, 400px)) minmax(1rem, 1fr)
  }

  .header {
    height: 75px;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-container {
    position: initial;
    width: initial;
  }

  .link-container {
    flex-direction: row;
  }

  .nav-link {
    font-size: 1.25rem;
    margin-left: 2rem;
  }

  .section-one {
    padding: 14rem 0 10rem 0;
  }

  .section-one > * {
    grid-column: 2 / span 2;
  }

  .sec-one-title,
  .sec-one-body {
    width: 100%;
  }

  .sec-one-title {
    font-size: 2rem; 
  }

  .sec-one-body {
    font-size: 1.25rem;
    margin-block: 2rem;
  }

  .sec-one-btn {
    padding: 1rem 2.75rem;
    font-size: 1.25rem;
  }

  .section-two {
    padding: 6rem 0;
    gap: 0 1rem;
  }

  .sec-two-container {
    grid-column: span 1;
    margin-bottom: 0;
  }

  .sec-two-container:first-child {
    grid-column: 2;
  }

  .footer {
    padding: 5rem 0;   
  }

  .footer-container {
    grid-column: 2 / span 2;
    text-align: left;
    margin-block: 0;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-social-container {
    grid-column: 4;
    order: 2;
  }

  .social-link-container {
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .sec-three-info {
    grid-column: 2;
  }

  .form-container {
    grid-column: 3 / span 2;
    width: 90%;
    justify-self: right;
  }

  .contact-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-auto-flow: dense;
  }

  .label-name {
    margin-top: 0;
  }

  .label-name,
  .input-name {
    grid-column: 1;
  }

  .label-email,
  .input-email {
    grid-column: 2;
  }

  .label-textarea,
  .textarea {
    grid-column: 1 / -1;
  }

  .form-btn {
    grid-column: 2;
    font-size: initial;
    padding-inline: 4rem;
  }

}